/** @format */
.heading-cover{
  width: 100%;
}
.heading {
  margin:auto
}
.small-cont {
  width: 200px;
  background-color: "red";
  margin-left: 5px;
  margin-right: 5px;
}

.form-cont{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.footer{
  position: fixed;
  bottom: 0;
  right:0
}